/*These styles affect the landing page*/
html {
	width: 100%;
	height: 100%;
	margin: auto 0;
}

body {
	width: 90%;
	background: #09E;
}

p {
	text-align: center;
	color: goldenrod;
}

form {
	font-size: 1.25em;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
}

input {
	background: #FFF;
	opacity: .7;
	border-radius: 5px;
	font-size: .75em;
}

section {
	min-height: 100px;
	max-width: 540px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.helloWorld {
	font-size: 1.25em;
	font-weight: bold;
	color: #FFF;
}

